@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap");

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.header-hero {
  background: url("/public/images/banner.jpg");
  min-height: 150px;
}

.header-cta {
  background-color: #fdcb6e;
  border-radius: 10px;
  padding: 10px 30px;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  span {
    font-weight: bold;
    display: block;
  }
}

nav {
  ul {
    display: flex;
    li {
      list-style: none;
      padding: 0 25px;

      a {
        font-family: "Slabo 13px", serif;
        font-size: 18px;
        text-decoration: none;
      }
    }
  }
}
