@import "../node_modules/bulma/css/bulma.min.css";

.hero {
  background: url("../public/images/banner-02.jpg") center center no-repeat;
  background-size: cover;
}

.content {
  padding: 60px 0;
}

.content-main--services {
  background-color: #f1f2f6;

  .card {
    box-shadow:
      0 8px 16px rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.05);
  }
}
