* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 960px;
  margin: 0 auto;
}

.header-cta {
  background-color: #fdcb6e;
  padding: 10px;
  border-radius: 10px;
  text-align: center;

  span {
    font-weight: bold;
    display: block;
  }
}

nav {
  ul {
    display: flex;

    li {
      padding: 5px;
      list-style: none;
    }
  }
}
